<title>
    <%= title %>
</title>

<!-- bootstrap-->
<!-- 합쳐지고 최소화된 최신 CSS -->
<!--
-->
    <!-- 부가적인 테마 
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css">
    -->
    
<script src="/js/jquery.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css"> 
<script src="/js/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/custom_table.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/sidebar.css" />


<meta name="viewport" content="width=device-width, initial-scale=1">




<!-- 합쳐지고 최소화된 최신 자바스크립트 -->

<!--
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
-->




<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/sidebar.js"></script>
