<title>
    <%= title %>
</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/custom_table.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.mobile-1.4.5.min.js"></script>
