<title>
    <%= title %>
</title>

<!-- bootstrap-->
<!-- 합쳐지고 최소화된 최신 CSS -->
<!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
-->
    <!-- 부가적인 테마 -->
<!--    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
-->

<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/custom_table.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/sidebar.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">