

<!DOCTYPE html>
<html>
  <head>
      <% include header %>
  </head>
  <body>
    <div id="nav">
      <% include nav %>
    </div>
    <div id="content">
      <%- include(body) -%>
    </div>
    <div id="sidebar">
      <% include sidebar %>
    </div>
  </body>
</html>
