

<!DOCTYPE html>
<html>
  <head>
      <% include header %>
  </head>
  <body>
    <div data-role="page" id="pageone">
      <div id="nav">
        <% include nav %>
      </div>
      <div id="content" data-role="main" class="ui-content">
        <%- include(body) -%>
      </div>
      <div id="sidebar">
        <% include sidebar %>
      </div>
    </div> 

  </body>
</html>
