<!DOCTYPE html>
<html>
  <head>
      <% include header %>
  </head>
  <body>
    <div id="wrapper">
      <div class="overlay"></div>
      <% include sidebar %>
      <div id="page-content-wrapper">
        <% include nav %>
        <div class="container">
          <%- include(body) -%>
        </div>
      </div> 
    </div> 

    <% include footer %>
  </body>
</html>
