

<!DOCTYPE html>
<html>
  <head>
      <% include ./header.ejs %>
  </head>
  <body>
    <div id="nav">
      <% include ./nav.ejs %>
    </div>
    <div id="content">
      <% include ./body.ejs %>
    </div>
    <div id="sidebar">
      <% include ./sidebar.ejs %>
    </div>
  </body>
</html>
