<p>Reflow Tables lay the table data horizontally until it reaches a minimum size, then all rows are grouped together
    in a vertical stack with the corresponding labels.</p>
<p>In this example we have used the well-known Northwind sample database. Below is a selection from the "Customers"
    table.</p>
<p>Try to resize the width of your browser window, to see the effect.</p>
<table data-role="table" data-mode="columntoggle" class="ui-responsive ui-shadow" id="dataTable">
    <thead>
        <tr>
            <th data-priority="12">적금ID</th>
            <th data-priority="13">예/적금 종류</th>
            <th>예/적금 이름</th>
            <th data-priority="1">계좌이름</th>
            <th data-priority="2">계좌번호</th>
            <th data-priority="3">은행</th>
            <th data-priority="4">이율종류</th>
            <th data-priority="6">이율</th>
            <th data-priority="7">기간</th>
            <th data-priority="8">만기일</th>
            <th data-priority="9">월단위 정액</th>
            <th data-priority="10">누계</th>
            <th data-priority="11">연 누계</th>
            <th data-priority="4">내용</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>적금</td>
            <td>하나_더_적금</td>
            <td>메인_통장</td>
            <td>123-456789-12345</td>
            <td>하나은행</td>
            <td>정액적립식</td>
            <td>5.01%</td>
            <td>1년</td>
            <td>2021-02-03</td>
            <td>300000원</td>
            <td>600000원</td>
            <td>600000원</td>
            <td>이율 높은 적금</td>
        </tr>

    </tbody>
</table>