<!-- The sidebar -->
    <div class="sidebar" id="sidebar-wrapper">
        <a class="active home" href="/">Home</a>
        <a class="withdrawal " href="/withdrawal"><span></span>입출금</a>
        <a class="bank_account " href="/bank_account"><span></span>계좌/카드</a>
        <a class="saving " href="/saving"><span></span>적금</a>
        <a class="standard " href="/standard"><span></span>기준값</a>
        <a class="asset " href="/asset"><span></span>자산현황</a>
    </div>
    
    
    
    