<h1>메뉴</h1>
<ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/withdrawal">입출금</a></li>
    <li><a href="/bank_account">계좌/카드</a></li>
    <li><a href="/saving">적금</a></li>
    <li><a href="/standard">기준값</a></li>
    <li><a href="/asset">자산현황</a></li>
</ul>
